{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid mt-5 text-left">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col">
        <p>Thank you for visiting my site.</p>
        <p>I am a professional Shiatsu Practitioner offering one to one Shiatsu
          treatments in  Bristol, UK.</p>
      </div>
      <div class="col">
        <img src="{% static 'images/matt-lrg.jpg' %}" class="img-fluid rounded" alt="Matt Ferin">
      </div>
  </div>
</div>
{% endblock content %}