{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- <div class="container-fluid mt-3 text-left">
  <h1 class=" fs-2 d-none d-xxl-block">This is xxl-block text</h1>
  <h1 class=" fs-5 d-none d-xl-block d-xxl-none"> This is xl-block text</h1>
</div> -->
<div class="container-fluid h-100 align-items-center clearfix">
  <img src="{% static 'images/matt-lrg.jpg' %}" class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" alt="Matt Ferin">
  <div class="container">
    <p><strong>Welcome to Bristol Shiatsu with Matthew Ferin</strong></p>
    <p>Thank you for visiting the site. I am a
      professional Shiatsu Practitioner offering one to one Shiatsu
      treatments in  Bristol, UK.</p>
    <p>Fully accredited, I have been practising in and around Bristol since 2004.  I operate from a safe, secure and calming space.</p>
    <p><a href="{% url 'matthew_ferin' %}">Click here</a> for more information about me.</p>
  </div>
  <img src="{% static 'images/hands_focus.jpg' %}" class="img-fluid rounded col-md-6 float-md-start mb-3 ms-md-3" alt="Shiatsu Closeup on Hands">
  <div class="container-fluid">
    <p><strong>Shiatsu is a specialised form</strong>
      of Japanese Massage. Literally translated, Shiatsu means
      'Finger Pressure'. Shiatsu is more than
      'just' a massage however. Shiatsu has
        its basis in Traditional Chinese Medicine. It utilises the same
        pressure points or 'Tsubos' as Acupuncture, and incorporates Zen theory
        along with contemporary psychological/physiological
      understanding.</p>

    <p>This unique viewpoint is one of the real strengths of Shiatsu as a healing practice. Shiatsu is a holistic
        and integrated style of healing encompassing the physical, mental, emotional, and spiritual
        levels of human experience. As a holistic treatment I look to treat the whole person and not just the
    &quot;symptoms&quot;.</p>
  </div>

  <p>Shiatsu works on a basic level by contacting energetic channels
    that run through the body called Meridians. These Meridians (which connect
    the tsubos) can become blocked or stagnant and Shiatsu works to return balance to these channels using gentle pressure
    applied mainly with the palm and fingers.<br />
  </p>
  <p>Shiatsu  can help restore you and enhance your feeling of well being, it can be practised either therapeutically or just as a great way to relax and unwind.</p>
  <p><strong>What can you treat with Shiatsu?</strong></p>
  <p>Many different issues can be resolved through Shiatsu. It is in no way limited to physical issues either, shiatsu is very effective dealing with all areas of a person, so emotional and mental problems are very treatable too. Some of the issues I have found great success dealing with include:</p>
  <p align="left"><strong>Stress, Insomnia,</strong> <strong>Anxiety</strong>,<strong> Depression, Back Pain, Wrist Pain, Neuralgia and suppressed emotions.</strong></p>
  <p>Contact me if you want to discuss whether Shiatsu can help you.</p>
  <p>Email me: <a href="mailto:enquiries@shiatsu-in-bristol.co.uk">enquiries@shiatsu-in-bristol.co.uk</a></p>
</div>
</div>

<div class="container-fluid clearfix">
  <img src="{% static 'images/matt-lrg.jpg' %}" class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" alt="Matt Ferin">
  <div class="container-fluid h-100 align-items-center">
    <p><strong>Welcome to Bristol Shiatsu with Matthew Ferin</strong></p>
    <p>Thank you for visiting the site. I am a
      professional Shiatsu Practitioner offering one to one Shiatsu
      treatments in  Bristol, UK.</p>
    <p>Fully accredited, I have been practising in and around Bristol since 2004.  I operate from a safe, secure and calming space.</p>
    <p><a href="{% url 'matthew_ferin' %}">Click here</a> for more information about me.</p>
  </div>
</div>


<div class="container-fluid h-100 align-items-center">
  <div class="container-fluid clearfix">
    <img src="{% static 'images/hands_focus.jpg' %}" class="img-fluid rounded col-md-6 float-md-start mb-3 ms-md-3" alt="Shiatsu Closeup on Hands">
    <div class="container-fluid">
      <p><strong>Shiatsu is a specialised form</strong>
        of Japanese Massage. Literally translated, Shiatsu means
        'Finger Pressure'. Shiatsu is more than
        'just' a massage however. Shiatsu has
          its basis in Traditional Chinese Medicine. It utilises the same
          pressure points or 'Tsubos' as Acupuncture, and incorporates Zen theory
          along with contemporary psychological/physiological
        understanding.</p>

      <p>This unique viewpoint is one of the real strengths of Shiatsu as a healing practice. Shiatsu is a holistic
          and integrated style of healing encompassing the physical, mental, emotional, and spiritual
          levels of human experience. As a holistic treatment I look to treat the whole person and not just the
      &quot;symptoms&quot;.</p>
    </div>



    <p>Shiatsu works on a basic level by contacting energetic channels
      that run through the body called Meridians. These Meridians (which connect
      the tsubos) can become blocked or stagnant and Shiatsu works to return balance to these channels using gentle pressure
      applied mainly with the palm and fingers.<br />
    </p>
    <p>Shiatsu  can help restore you and enhance your feeling of well being, it can be practised either therapeutically or just as a great way to relax and unwind.</p>
    <p><strong>What can you treat with Shiatsu?</strong></p>
    <p>Many different issues can be resolved through Shiatsu. It is in no way limited to physical issues either, shiatsu is very effective dealing with all areas of a person, so emotional and mental problems are very treatable too. Some of the issues I have found great success dealing with include:</p>
    <p align="left"><strong>Stress, Insomnia,</strong> <strong>Anxiety</strong>,<strong> Depression, Back Pain, Wrist Pain, Neuralgia and suppressed emotions.</strong></p>
    <p>Contact me if you want to discuss whether Shiatsu can help you.</p>
    <p>Email me: <a href="mailto:enquiries@shiatsu-in-bristol.co.uk">enquiries@shiatsu-in-bristol.co.uk</a></p>
  </div>
</div>
{% endblock content %}

{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container pt-4 px-4">
  <div class="row row-cols-md-2 align-items-center g-md-2">
    <div class="col">
      <p><strong>Welcome to Bristol Shiatsu with Matthew Ferin</strong></p>
      <p>I am a professional Shiatsu Practitioner offering one to one Shiatsu treatments in Bristol, UK.</p>
    </div>
    <!-- <div class="col-md-auto">
      Variable width content
    </div> -->
    <div class="col">
      <img src="{% static 'images/matt-492.jpg' %}" class="rounded" alt="Matt Ferin">
    </div>
  </div>
  <div class="row row-cols-md-2 align-items-center pt-4">
    <div class="col">
      <img src="{% static 'images/hands-focus-492.jpg' %}" class="img-fluid rounded" alt="Closeup on hands practising Shiatsu">
    </div>
    <div class="col-auto col-sm-auto col-md-5 col-lg-5 col-xl-5 col-xxl-5">
      <p><strong>Shiatsu is a specialised form</strong>
        of Japanese Massage. Literally translated, Shiatsu means
        'Finger Pressure'. Shiatsu is more than
        'just' a massage however. Shiatsu has
          its basis in Traditional Chinese Medicine. It utilises the same
          pressure points or 'Tsubos' as Acupuncture, and incorporates Zen theory
          along with contemporary psychological/physiological
        understanding.</p>
    
      <p>This unique viewpoint is one of the real strengths of Shiatsu as a healing practice. Shiatsu is a holistic
          and integrated style of healing encompassing the physical, mental, emotional, and spiritual
          levels of human experience. As a holistic treatment I look to treat the whole person and not just the
      &quot;symptoms&quot;.</p>
    </div>

</div>



<div class="container-fluid clearfix px-4">
  <img src="{% static 'images/matt-lrg.jpg' %}" class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3" alt="Matt Ferin">
  <div class="container-fluid">
    <p><strong>Welcome to Bristol Shiatsu with Matthew Ferin</strong></p>
    <p>Thank you for visiting the site. I am a
      professional Shiatsu Practitioner offering one to one Shiatsu
      treatments in  Bristol, UK.</p>
    <p>Fully accredited, I have been practising in and around Bristol since 2004.  I operate from a safe, secure and calming space.</p>
    <p><a href="{% url 'matthew_ferin' %}">Click here</a> for more information about me.</p>
  </div>
</div>
<div class="container-fluid clearfix">
  <img src="{% static 'images/hands_focus.jpg' %}" class="img-fluid rounded col-md-6 float-md-start mb-3 ms-md-3" alt="Shiatsu Closeup on Hands">
  <div class="container-fluid px-40">
  <p><strong>Shiatsu is a specialised form</strong>
    of Japanese Massage. Literally translated, Shiatsu means
    'Finger Pressure'. Shiatsu is more than
    'just' a massage however. Shiatsu has
      its basis in Traditional Chinese Medicine. It utilises the same
      pressure points or 'Tsubos' as Acupuncture, and incorporates Zen theory
      along with contemporary psychological/physiological
    understanding.</p>

  <p>This unique viewpoint is one of the real strengths of Shiatsu as a healing practice. Shiatsu is a holistic
      and integrated style of healing encompassing the physical, mental, emotional, and spiritual
      levels of human experience. As a holistic treatment I look to treat the whole person and not just the
  &quot;symptoms&quot;.</p>
  </div>
</div>
{% endblock content %}