{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 p-3">
      <p><strong>News</strong></p>
      <p><strong>Home Clinic Sessions Now Available</strong></p>
      <p>As I continue to look for a quiet friendly clinic space I'm temporarily offering sessions from my home. I will continue to primarily offer visits but a number of you have found that difficult to arrange so for now, coming to me is an option.</p>
      <p><strong>Gift Vouchers Available </strong></p>
      <p>What do you get the person that has everything? Shiatsu gift vouchers that's what! I can post you a voucher for no additional charge so there's something to put in a card etc. Contact me with any queries.</p>
      <p><strong>Therapy Room Closures, Home Visits Only</strong></p>
      <p>All the therapy rooms I've been working from have closed due to the pandemic and are unlikely to re-open. Once times have settled down again I will look for another lovely space. In the immediate future I will only be offering home visits. </p>
      <p><strong>Want £10 off a Session? Try my Referral Scheme</strong><br />
      </p>
      <p>After any session with me you can request (or I'll just give you) some referral cards. You can then give these to anyone you feel would like a   go. When they hand the voucher in after their 1st treatment I'll take <strong>£10</strong> off for them and for <strong>your next visit too</strong>! They will however only apply to full price sessions. This is a great way to introduce new people to the benefits of Shiatsu and keep the price down for yourself! </p>
      <p><strong>Online Privacy Policy</strong></p>
      <p>This is available <a href="https://www.websitepolicies.com/policies/view/OCHKlJOj">here</a> if you wish to review this website's Privacy Policy.</p>
      <p>&nbsp;</p>
      <p><strong>Welcome to Bristol Shiatsu with Matthew Ferin</strong></p>
      <p>Thank you for visiting the site. I am a
        professional Shiatsu Practitioner offering one to one Shiatsu
        treatments in  Bristol, UK.&nbsp;&nbsp;</p>
      <p>Shiatsu is a specialised form
          of Japanese Massage. Literally translated, Shiatsu means
          'Finger Pressure'. Shiatsu is more than
          'just' a massage however. Shiatsu has
            its basis in Traditional Chinese Medicine. It utilises the same
            pressure points or 'Tsubos' as Acupuncture, and incorporates Zen theory
            along with contemporary psychological/physiological
        understanding.</p>
    <p>This unique viewpoint is one of the real strengths of Shiatsu as a healing practice. Shiatsu is a holistic
            and integrated style of healing encompassing the physical, mental, emotional, and spiritual
            levels of human experience. As a holistic treatment I look to treat the whole person and not just the
    &quot;symptoms&quot;.</p>
    <p>Shiatsu works on a basic level by contacting energetic channels
      that run through the body called Meridians. These Meridians (which connect
      the tsubos) can become blocked or stagnant and Shiatsu works to return balance to these channels using gentle pressure
      applied mainly with the palm and fingers.<br />
    </p>
    <p>Shiatsu  can help restore you and enhance your feeling of well being, it can be practised either therapeutically or just as a great way to relax and unwind.</p>
    <p><strong>What can you treat with Shiatsu?</strong></p>
    <p>Many different issues can be resolved through Shiatsu. It is in no way limited to physical issues either, shiatsu is very effective dealing with all areas of a person, so emotional and mental problems are very treatable too. Some of the issues I have found great success dealing with include:</p>
    <p align="left"><strong>Stress, Insomnia,</strong> <strong>Anxiety</strong>,<strong> Depression, Back Pain, Wrist Pain, Neuralgia and suppressed emotions.</strong></p>
    <p>Contact me if you want to discuss whether Shiatsu can help you.</p>
    <p>Email me: <a href="mailto:enquiries@shiatsu-in-bristol.co.uk">enquiries@shiatsu-in-bristol.co.uk</a></p>
    </div>

      
    <div class="col-sm-4 p-1 photo">
        <img src="static/images/home_montage.png" class="img-fluid" alt="Matthew Ferin Shiatsu Practitioner">
    </div>
  </div>
</div>
{% endblock content %}