{% extends "_base.html" %}
{% load static %}

{% block title %}Links{% endblock title %}

{% block content %}
  <h3>Links</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 p-3">
        <p>Shiatsu Society - <a href="http://www.shiatsusociety.org/" target="_blank">www.shiatsusociety.org/</a><br />
        </p>
        <p>Privacy Policy available <a href="https://www.websitepolicies.com/policies/view/OCHKlJOj">here</a></p>
      </div>
      <div class="col-sm-4 p-3 photo">
        <img src="/static/images/montage_links.png" class='img-fluid' alt="Bristol Shiatsu Practitioner Matt Ferin">
      </div>
    </div>
  </div>
{% endblock content %}