{% extends "_base.html" %}

{% block title %}Location{% endblock title %}

{% block content %}

<h4>Now Working From Home and Offering Visits</h4>
<p>Due to many parctise rooms recently closing, I'm offering sessions from my home in BS5 area and offering Home Visits within a reasonable radius.</p>
<p>I'm continuing to not charge extra for visits.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4557.248373654968!2d-2.565835947397!3d51.47913272672879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48718fd3381e0e41%3A0x600238d3224f99a0!2sMatthew%20Ferin%20Shiatsu!5e0!3m2!1sen!2suk!4v1747140273062!5m2!1sen!2suk" 
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<p></p>

<p>Please contact me for further information or to book a session.</p>
<p>Call me on 0771 3593950 </p>
<p>Email me: <a href="mailto:enquiries@shiatsu-in-bristol.co.uk">enquiries@shiatsu-in-bristol.co.uk</a></p>
{% endblock content %}