{% extends "_base.html" %}

{% block title %}Matthew Ferin{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 p-3">
      <p>I began my Shiatsu training with the Bristol College of Shiatsu in 2004 where I studied with Nicola Pooley and Mercedes Nunez for two years. I completed my final year with the Bristol School of Shiatsu with Paul McNicholls and Keith Phillips. I have also trained with Michael Rose, Thea Bailey, Suzanne Yates and Nick Pole. I am very glad that I have  had the unique advantage of some very different viewpoints and approaches, I feel this has informed my own personal style greatly. I have also completed a 'Post Graduate Year' with Mercedes Nunez attaining the MRSS diploma.</p>
      <p>I feel the style I have developed is unique from that performed by other Shiatsu practitioners. I work in a very 'energy-based' manner which relies on creating deep states of relaxation in the receiver and the contacting the pressure points deeply.</p>
      <p>I find that this way of working very effective as the conscious mind is bypassed and cannot 'get in the way' of deep letting go. This method is very gentle and supportive and many people who find bodywork difficult have been able to accept it easily.</p>
      <p>I am an active member of the Shiatsu Society UK and I adhere to their codes of practice.</p>
      <p><a href="http://www.shiatsusociety.org/" target="_blank">Link to their Website</a></p>
      <p><strong>What my clients say about me:</strong></p>
      <p><em>&quot;I have  received shiatsu from different practitioners over the last 20 years and find  it a tremendously helpful therapy. Matthew has been treating me&nbsp;3 years and&nbsp;I find his way of working unique and very special. He is very  sensitive energetically, intuitively connecting with&nbsp;me and he has a very  healing touch. He creates a space of safety, allowing me to deeply relax and  let go. Also he communicates about the issues I have brought to the session  clearly and helpfully.&nbsp;The long term benefits have been many - greater  energy, less pain and tension, freedom of movement and greater awareness of  where I hold tension and therefore more able to let go. I recommend Matthew  unreservedly.</em>&quot;</p>
      <p><strong>E.F.</strong></p>
      <p><em>“Matt is gentle, quiet and understanding. He has been able  to hold me in places of fear and despair with both calmness and compassion. His  shiatsu is gentle, sensitive and intuitive. I can relax knowing I will be met  at a deep level.”</em></p>
      <p><strong>M.H.</strong></p>
      <p><em>“Matthew is an extraordinarily sensitive practitioner. He  asks questions that are perceptive and the treatment is very gentle and soothing pressure. (I fell asleep in one treatment) I  was relaxed afterwards and my chronic pain eased. He has a very special ability  to pick up what is needed to improve one's overall wellbeing. My treatments  were of huge value in starting my recovery and I thank him for it.” </em>  </p>
      <p><strong>D.M,   </strong>   </p>
      <p><em>&quot;Over the time I have been receiving Shiatsu from Matt I  have changed and grown profoundly as a person. Matt creates a place of safety  where I feel cherished and at ease with myself. This has allowed me to  challenge long-held beliefs about myself, heal old wounds and move forwards in  my life. <br />
      I am very grateful for all the Shiatsu I have received  from Matt and all of the care and support he has shown me. Matt’s way of  approaching Shiatsu brings deep healing and is holistic in the best sense of  the word.&quot; </em></p>
      <p><strong>V.M.</strong></p>
      <p><em>&quot;I came to Matthew for Shiatsu when I had some specific  emotional issues that I needed some help in dealing with. Matt got to the root  of the issues quickly in our first session and I came away feeling supported  and understood. I would highly recommend Matthew as a skilful and intuitive  Shiatsu practitioner&quot; </em></p>
      <p><strong>J.P.</strong></p>
      <p><em>&quot;Matt's approach is completely person-centred. 
      He has a gentle, reassuring presence that allows you to really &quot;let go&quot; and (with) great technique.&quot;</em></p>
      <p><strong>Anon.</strong></p>
    </div>
    <div class="col-sm-4 p-3 photo">
      <img src="/static/images/matt_session.jpg" class='img-fluid' alt="Matthew Ferin Shiatsu Session">
    </div>
  </div>
</div>
{% endblock content %}