{% extends "_base.html" %}
{% load static %}

{% block title %}News{% endblock title %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 align-items-center g-4">
        <div class="col">
            <h3>News</h3>
            <h4>Now Working From Home and Offering Visits</h4>
            <p>Currently, I'm offering sessions from my home in BS5 area and offering Home Visits within a reasonable radius. I'm continuing to not charge extra for visits.</p>
            <h4>Gift Vouchers Available</h4>
            <p>What do you get the person that has everything? Shiatsu gift vouchers that's what! I can post you a voucher for no additional charge so there's something to put in a card etc. <a href="mailto:enquiries@shiatsu-in-bristol.co.uk">Contact me</a> with any queries.</p>
            <h4>Want £10 off a Session? Try my Referral Scheme</h4>
            <p>After any session with me you can request (or I'll just give you) some referral cards. You can then give these to anyone you feel would like a go. 
            When they hand the voucher in after their 1st treatment I'll take £10 off for them and for your next visit too! They will however only apply to full price sessions. 
            This is a great way to introduce new people to the benefits of Shiatsu and keep the price down for yourself!</p>
        </div>
        <div class="col align-items-center">
            <img src="{% static 'images/montage_links.png' %}" class="img-fluid rounded" alt="Montage of Shiatsu Images">
        </div>
    </div>
</div>
{% endblock content %}