{% extends "_base.html" %}

{% block title %}Shiatsu History{% endblock title %}

{% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 align-items-center g-4">
    <div class="col">
      <p><strong>Tokujiro Namikoshi</strong></p>
      <p>The beginnings of modern Shiatsu can be said to lie with Tokujiro Namikoshi who developed a style of bodywork called Appaku which he later renamed Shiatsu. He built from the long tradition of  bodywork which exists in the East such as the Chinese Tui Na and the Japanese version Anma and Teate. Namikoshi was practicing mainly at the time of American occupation of Japan when practically all forms of traditional culture (Kendo, Aikido etc) were banned and considered unscientific and medieval. Namikoshi was allowed to continue practicing and even treated celebrities such as Marilyn Monroe and Muhammed Ali. Namikoshi set up his first clinic in 1925. The Japanese government officially recognised Shiatsu as a distinct therapy in 1957. </p>
      <p>Namikoshi's style can be said to be more like contemporary Acu-pressure as it focuses more on activating the points and excludes some of the more esoteric principles, such as two handed connection, which are common to all practitioners of Zen Shiatsu.</p>
    </div>
    <div class="col">
        <div class="">
          <img src="/static/images/tokujirosensei-492.jpg" class="img-fluid rounded" alt="Tokujiro Namikoshi Shiatsu">
        </div>
        <div class="caption">
          <p>Tokujiro Namikoshi</p>
        </div>
    </div>
    <div class="col d-none d-md-block">
      <img src="/static/images/sizuhito-492.jpg" class="img-fluid rounded" alt="Shizuto Masunaga Shiatsu">
      <div class="caption">
        <p>Shizuto Masunaga</p>
      </div>
    </div>
    <div class="col">
      <p><strong>Shizuto Masunaga</strong></p>
      <p>Shizuto Masunaga was a student of Namikoshi and went on to write the book 'Zen Shiatsu'. His style is the basis for practically all western students of Shiatsu. He re-introduced a lot of the Traditional Chinese Medicine theory as well as Contemporary Western Medicine and Psychology (which he taught at Kyoto University). He also redrew the 'map' of the Meridians adding extensions to some of them and slightly moving others. He taught western students including Pauline Sasaki, Cliff Andrews and Michael Rose. </p>
      <p>These Westerners (as well as others) brought back this knowledge to England and America where, since the 1980's, the majority of the evolution of the art has taken place. The Shiatsu Society in the UK (of which I am a member) was formed in 1981 and a link to their website is available in the links section.</p>
    </div>
    <div class="col d-sm-block d-md-none">
      <div class="">
        <img src="/static/images/sizuhito-492.jpg" class="img-fluid rounded" alt="Shizuto Masunaga Shiatsu">
      </div>
      <div class="caption">
        <p>Shizuto Masunaga</p>
      </div>
    </div>
  </div>  
</div>
{% endblock content %}