{% extends "_base.html" %}

{% block title %}Shiatsu Fees{% endblock title %}

{% block content %}

<h3>Price Increases</h3>
  
  <p>I'm increasing the standard cost of an hour-long session to £55.</p>
  <p>I'm not changing my concessionary rate or Shiatsu student rate which remain at £35 as I dislike cost being a barrier to entry.</p>      

  <h3>Appointment Fees:</h3>
  <ul>
    <li>Full sessions last one hour - £55</li>
    <li>Shiatsu Student rate - £35</li>
    <li>Concessionary rates - £35</li>
  </ul>

  <h3>Reduced rates for courses of treatments, payment to be made at start of course.</h3>
  <ul>
    <li>£150	for 3 sessions</li>
    <li>£200	for 4 sessions</li>
    <li>£250	for 5 sessions</li>
    <li>£300	for 6 sessions</li>
  </ul>

<h3>Cancellation Policy</h3>
  <p>Please note: Appointments cancelled with less than 48 hours notice will incur a cancellation fee of £25 to cover lost appointment time.</p>

<h4>Want £10 off a Session? Try my Referral Scheme</h4>
  <p>After any session with me you can request (or I'll just give you) some referral cards. You can then give these to anyone you feel would like a go. 
  When they hand the voucher in after their 1st treatment I'll take £10 off for them and for your next visit too! They will however only apply to full price sessions. 
  This is a great way to introduce new people to the benefits of Shiatsu and keep the price down for yourself!</p>

{% endblock content %}