{% extends "_base.html" %}

{% block title %}Shiatsu Fees{% endblock title %}

{% block content %}
  <p>Appointment Fees:</p>
  <p>Full sessions last one hour - £45</p>
  <p>Shiatsu Student rate - £35</p>
  <p>Concessionary rates are £35</p>
  <p>Reduced rates for courses of treatments, payment to be made at start of course.</p>
  <p><strong>£120	for 3 sessions<br>
  £160	for 4 sessions<br>
  £200	for 5 sessions<br>
  £240	for 6 sessions</strong><br>

  <p>Cancellation Policy - Please note: Appointments cancelled with less than 48 hours notice will incur a cancellation fee of £20 to cover lost appointment time and room rental fees.</p>
  <p>Gift Vouchers are available for any of the above, please get in touch to arrange.</p>
{% endblock content %}